:root {
    --item-border-color-primary: rgb(220,220,220);
    --item-border-color-secondary: rgb(210,210,210);

    --container-border-color-primary: rgba(0,0,0,0.1);
    --container-shadow-color-primary: rgba(0,0,0,0.15);
    --container-border-width-primary: 0.2rem;
    --container-shadow-height-primary: 0.25rem;
}

.explore-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    border: 0.15rem solid rgba(36, 87, 255, 0);
    width: 100%;
    height: 100%;
    z-index: 50;
}

.explore-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    border: 0.15rem solid transparent;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.explore-content::-webkit-scrollbar {
    border-radius: 1vmin;
    width: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.25s linear;
}

.explore-content::-webkit-scrollbar-thumb {
    border-radius: 1vmin;
    width: 0.25rem;
    background-color: rgba(0, 0, 0, 0.25);
    transition: all 0.25s linear;
}

.chaincard-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    border: 0.2rem solid var(--container-border-color-primary);
    background-color: rgba(0, 0, 0, 0.05);
    width: 50%;
    min-width: 20rem;
    max-width: 50vh;
    height: auto;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 var(--container-shadow-height-primary) 0 0 var(--container-shadow-color-primary);
}

.chaincard-content-filter {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255,255,255,0.65);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.55);
    text-shadow: 0 0.3rem 0.25rem rgba(0,0,0,0.15);
}

.chaincard-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 0.15rem solid rgba(0,0,0,0.0);
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.chaincard-content-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 0.15rem solid rgba(0,0,0,0.0);
    background-color: rgba(250,250,250, 1);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.chaincard-content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2rem;
}

.chaincard-content-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 0.2rem solid var(--item-border-color-primary);
    background-color: white;
    width: 25%;
    aspect-ratio: 1;
    border-radius: 1.45rem;
    cursor: pointer;
    box-shadow: 0 0.25rem 0 0 var(--item-border-color-primary);
    transition: all 0.15s ease-in-out;
}

.chaincard-content-item:hover {
    transform: translateY(0.25rem);
    border: 0.2rem solid var(--item-border-color-secondary);
    box-shadow: 0 0.0rem 0 0 var(--item-border-color-secondary);
}

.chaincard-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    width: 50%;
    min-width: 10rem;
    max-width: 100vh;
    min-height: 1rem;
    max-height: 1rem;
    border-radius: 1rem;
}

.chaincard-link-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 5.5rem;
    max-width: 5.5vh;
    min-height: 5.5rem;
    max-height: 5.5rem;
    border: 0.2rem solid var(--container-shadow-color-primary);
    background-color: rgba(0,0,0,0);
    box-shadow: inset 0 var(--container-shadow-height-primary) 0 0 var(--container-shadow-color-primary);
    border-radius: 10rem;
    z-index: 100;
}

.chaincard-link-content::after {
    position: absolute;
    content: "";
    display: flex;
    min-width: 10rem;
    max-width: 10vh;
    min-height: calc(1rem - var(--container-shadow-height-primary));
    max-height: calc(1rem - var(--container-shadow-height-primary));
    transform: translateY(calc(var(--container-shadow-height-primary) / 2));
    background-color: inherit;
    z-index: 100;
}

.chaincard-link-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    min-width: 4rem;
    max-width: 4rem;
    height: 4rem;
    min-height: 4rem;
    max-height: 4rem;
    background-color: rgb(152, 185, 255);
    border-radius: 10rem;
    box-sizing: border-box;
    border: 0.2rem solid rgba(0,0,0,0.1);
    box-shadow: 0 0.25rem 0 0 rgba(0,0,0,0.1);
    z-index: 101;
}

.chaincard-link-image:after {
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    background: url("../../images/svgs/icons/solid/lock-open.svg") no-repeat;
    background-size: 50%;
    background-position: 60% 45%;
    filter: invert(1) sepia(5) saturate(55) hue-rotate(-15deg) drop-shadow(0 0.25rem 0 rgba(0,0,0,0.1));
}

.chaincard-link-image.locked {
    opacity: 0.3;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border: 0.2rem solid rgba(0,0,0,0.0);
    box-shadow: 0 0.25rem 0 0 rgba(0,0,0,0.0);
}

.chaincard-link-image.locked:after {
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    background: url("../../images/svgs/icons/solid/lock.svg") no-repeat;
    background-size: 40%;
    background-position: 55% 45%;
    filter: invert(1) sepia(5) saturate(55) hue-rotate(-15deg) drop-shadow(0 0.25rem 0 rgba(0,0,0,0.25));
}