.home-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    border: 0.15rem solid rgba(36, 87, 255, 0);
    width: 100%;
    height: 100%;
    z-index: 50;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    border: 0.15rem solid red;
    width: 100%;
    max-width: 100vh;
    height: 100%;
}